body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
}

h1 {
  margin-top: 20px;
}

.search-container {
  margin: 20px 0;
}

#searchQuery {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#searchButton {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#createButton {
  padding: 8px 20px;
  background-color: #31ac1e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.text {
  flex: 1; 
}

.buttons {
  display: flex;
  align-items: center;
}

.deleteBtn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.updateBtn {
  background-color: #3c65d4;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}


.deleteBtn:hover {
  background-color: #c82333;
}

.updateBtn:hover {
  background-color: #234fc8;
}

.completed{
  text-decoration: line-through;
}